aiohttp==2.0.5
aioredis==0.3.0
appdirs==1.4.3
async-timeout==1.2.0
chardet==2.3.0
click==6.7
colorama==0.3.7
hiredis==0.2.0
multidict==2.1.4
packaging==16.8
pyparsing==2.2.0
six==1.10.0
structlog==16.1.0
websockets==3.3
yarl==0.10.0
