aiohttp==3.3.2
aioredis==1.1.0
appdirs==1.4.3
async-timeout==3.0.0
chardet==3.0.3
click==6.7
colorama==0.3.7
hiredis==0.2.0
idna==2.5
idna-ssl==1.1; python_version < '3.7'
multidict==4.3.1
packaging==16.8
pyparsing==2.2.0
six==1.10.0
structlog==16.1.0
urllib3==1.24.2
websockets==6.0
yarl==1.2.6
